[gcode_shell_command nozzlevision]
command: /home/pi/NozzleVision/run.sh
timeout: 30.
verbose: True


[gcode_macro NOZZLE_CHECK]
gcode:
    RESPOND MSG="NozzleVision: starting..."
    RUN_SHELL_COMMAND CMD=nozzlevision
    RESPOND MSG="NozzleVision: finished."


[gcode_macro NOZZLE_INSPECT]
gcode:
    SAVE_GCODE_STATE NAME=NOZZLE_INSPECT

    G90
    G1 X68 Y343 Z18 F12000
    M400
    G4 P500

    NOZZLE_CHECK

    RESTORE_GCODE_STATE NAME=NOZZLE_INSPECT


[gcode_macro NOZZLE_AUTO]
variable_blob: 0
variable_attempt: 0
gcode:
    SET_GCODE_VARIABLE MACRO=NOZZLE_AUTO VARIABLE=attempt VALUE=1

    G90
    G1 X68 Y343 Z18 F12000
    M400
    G4 P500
    SET_LED LED="sb_leds" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1
    #Sets the LED to white while the nozzle is being inspected

    RUN_SHELL_COMMAND CMD=nozzlevision

    UPDATE_DELAYED_GCODE ID=NOZZLE_DECIDE DURATION=1.0


[delayed_gcode NOZZLE_DECIDE]
gcode:
    {% if printer["gcode_macro NOZZLE_AUTO"].blob|int == 0 %}

        RESPOND MSG="Nozzle clean."

    {% elif printer["gcode_macro NOZZLE_AUTO"].attempt|int < 3 %}

        RESPOND MSG="Blob detected. Brushing..."

        AFC_BRUSH

        SET_GCODE_VARIABLE MACRO=NOZZLE_AUTO VARIABLE=attempt VALUE={printer["gcode_macro NOZZLE_AUTO"].attempt + 1}

        G1 X68 Y343 Z18 F12000
        M400
        G4 P500

        RUN_SHELL_COMMAND CMD=nozzlevision

        UPDATE_DELAYED_GCODE ID=NOZZLE_DECIDE DURATION=1.0

    {% else %}

        RESPOND TYPE=error MSG="NozzleVision: Blob still detected after 3 attempts."

        PAUSE

    {% endif %}